<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Khám phá</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="branch">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Ngành</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="course">
      <ion-icon name="send"></ion-icon>
      <ion-label>Khóa học của tôi</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Tìm kiếm</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>