<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Chăm sóc cơ thể</ion-card-subtitle>
                <ion-card-title>45 Khóa học</ion-card-title>
              </ion-card-header>
              <img src="../../../assets/images/Layer1.png">            
            </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Ngũ tạng</ion-card-subtitle>
                <ion-card-title>45 Khóa học</ion-card-title>
              </ion-card-header>
              <img src="../../../assets/images/Layer2.png">
            </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Não bộ</ion-card-subtitle>
                <ion-card-title>45 Khóa học</ion-card-title>
              </ion-card-header>
              <img src="../../../assets/images/Layer3.png">            
            </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Làm đẹp</ion-card-subtitle>
                <ion-card-title>45 Khóa học</ion-card-title>
              </ion-card-header>
              <img src="../../../assets/images/Layer4.png">
            </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Ngũ quan</ion-card-subtitle>
                <ion-card-title>45 Khóa học</ion-card-title>
              </ion-card-header>
              <img src="../../../assets/images/Layer5.png">            
            </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Dưỡng sinh</ion-card-subtitle>
                <ion-card-title>45 Khóa học</ion-card-title>
              </ion-card-header>
              <img src="../../../assets/images/Layer6.png">
            </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
