<ion-content fullscreen>
    <ion-card class="ion-no-margin">
          <img src="../../../assets/images/wave.png" alt="">
          <div class="header-title">
            <ion-card-title>Khóa học của tôi</ion-card-title>
          </div>
          <div class="header-text">
            <ion-icon name="add"></ion-icon>
            <ion-card-subtitle>Không có khóa học được thêm</ion-card-subtitle>
          </div>
    </ion-card>
    <ion-list>
        <ion-list-header> Gợi ý tìm kiếm </ion-list-header>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/Ellipse1.png" />
          </ion-avatar>
          <ion-label>
            <h2>Chăm sóc điều hòa kinh nguyệt chủ động</h2>
            <div class="ion-label-text">
              <h3>399,000đ</h3>
              <p>500,000đ</p>
            </div>
          </ion-label>
          <button>Mua</button>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/Ellipse2.png" />
          </ion-avatar>
          <ion-label>
            <h2>Chăm sóc điều hòa kinh nguyệt chủ động</h2>
            <div class="ion-label-text">
              <h3>399,000đ</h3>
              <p>500,000đ</p>
            </div>
          </ion-label>
          <button>Mua</button>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/Ellipse3.png" />
          </ion-avatar>
          <ion-label>
            <h2>Chăm sóc điều hòa kinh nguyệt chủ động</h2>
            <div class="ion-label-text">
              <h3>399,000đ</h3>
              <p>500,000đ</p>
            </div>
          </ion-label>
          <button>Mua</button>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/Ellipse4.png" />
          </ion-avatar>
          <ion-label>
            <h2>Chăm sóc điều hòa kinh nguyệt chủ động</h2>
            <div class="ion-label-text">
              <h3>399,000đ</h3>
              <p>500,000đ</p>
            </div>
          </ion-label>
          <button>Mua</button>
        </ion-item>
    </ion-list>
</ion-content>
