$color-text: #ffffff;


ion-tabs {
    position: relative;
    text-align: center;
}

ion-tab-bar {
    background-image: linear-gradient(to bottom, #401188,#770bc4);
    height: 80px;
}

ion-toolbar {
    width: 10%;
    height: 45%;
    text-align: center;
    --ion-background-color: transparent !important;
    position: absolute;
    top: -10px;
    left: 0;
}

ion-buttons {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    color: #e6aa5f;
}

// ion-icon {
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     color: #e6aa5f;
//     font-size: 1.3rem;
// }

ion-title {
    font-size: 1.1rem;
    color: $color-text;
    font-weight: 600;
    position: absolute;
    top: 10px;
}

ion-label {
    color: $color-text;
    font-size: 0.8rem;
}

ion-tab-button {
    height: 40%;
    margin-top: 35px;
    background-color: transparent;
}



