<ion-tabs>
  <ion-tab-bar slot="top"> 
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
      <!-- <ion-icon name="chevron-back-outline" ></ion-icon> -->
    <ion-title>Kinh doanh</ion-title>
    <ion-tab-button tab="skills">
      <ion-label>KĨ NĂNG</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tools">
      <ion-label>CÔNG CỤ</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
