<ion-header >
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
      <img src="./../../../assets/images/header.png" alt="">
          <ion-card-title>ĐĂNG NHẬP</ion-card-title>
          <i class="fa-solid fa-x ion-card-icon"></i>
      <img>
      <ion-card-content>
          <input type="input" placeholder="Email">
          <input type="input" placeholder="Mật khẩu">
      </ion-card-content>
      <div class="ion-card-login-number">
          <a href="#">Sign in with Phone Number</a>
          <a class="forgotpassword" href="#">Quên mật khẩu?</a>
      </div>
      <div class="ion-card-login">
          <button>ĐĂNG NHẬP</button>
      </div>
      <div class="ion-card-singup">
          <span>Bạn chưa có tài khoản? <a href="#">Đăng ký</a></span>
      </div>
  </ion-card>
</ion-content>