<ion-content fullscreen="true">
      <header>
        <ion-title >Gợi ý</ion-title>
        <div class="ion-subtitle">Cho bạn</div>
      </header>
      <ion-slides [options]="ios">
          <ion-slide *ngFor="let item of dataForCard">
              <ion-card>
                <img src={{item.img}} alt="">
                <ion-card-content>
                    <div class="ion-card-price">
                      <span>{{item.price}}</span>
                      <p>{{item.priceold}}</p>
                    </div>
                    <div class="icon-card-btn">
                      <button>{{item.btn}}</button>
                    </div>
                </ion-card-content>
              </ion-card>
          </ion-slide>
      </ion-slides>
      <div class="popular">
        <ion-title class="title">Phổ biến nhất</ion-title>
        <div div class="ion-subtitle">Xu hướng học tập của thời đại</div>
      </div>
      <ion-slides [options]="ioss">
        <ion-slide *ngFor="let item of dataForCard2">
          <ion-card class="ion-card-popular">
            <img  src="{{item.img}}" alt="">
          </ion-card>
        </ion-slide>
      </ion-slides>
</ion-content> 

